.body{
    background-color: blanchedalmond;
    margin: 0;
}
.header{
    margin: 0;
}
.head{
    background-color: bisque;
}
.lei{
    display: flex;
    justify-content: flex-end;
}
.prvi{
    display: flex;
    justify-content: flex-start;
}
.pi{
    font-size: 40px;
}
.din{
    display: flex;
    justify-content: space-between;
}
